---
layout: default
---
{% assign posts = site.posts  %}
<div class="home">
| where: "category", "apple"
  <div class="posts">
    {% for post in posts %}
      <div class="clearfix post {% if site.animated %}animated fade-in-down{% endif %}">
      <img class="post-thumb" src="{{ post.thumb }}">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          
          <h3 class="h2 post-title">{{ post.title }}</h3>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
      </div>
    {% endfor %}
  </div>

</div>
